[Unit]
Description=SkySquitter service

[Service]
Type=simple
ExecStart=/bin/bash /usr/share/skysquitter/skysquitter.sh airdata.skysquitter.com:xxxxx localhost:30005

[Install]
WantedBy=multi-user.target
