name: set_version
on: [push, pull_request]
jobs:
  set_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          TZ=UTC date +%y%m%d-%H%M > .VERSION.beast-feeder
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Workflow-initiated version update"
          git push
